<ion-content>
  
    <ion-list lines="none" class="list ion-padding">
      <ion-item lines="none" >
        <img class="img_logo" src="assets/img/Logo.jpeg" alt="">
      </ion-item>
      
      <ion-item lines="none">
        <h4>Registrate para crear una cuenta</h4>
      </ion-item>
      

      <ion-list lines="none" class="list">
        <ion-item>
          <ion-input
          placeholder="Nombre" 
          class="input"
          fill= "outline"
          aria-readonly="true" 
          [(ngModel)]="registrar.nombre"> 
          </ion-input>
          <ion-icon color="primary" name="person-outline"></ion-icon>
        </ion-item>  
        
  
        <ion-item>
          <ion-input 
          placeholder="Email"
          class="input" aria-readonly="true" 
          fill="outline"
          [(ngModel)]="registrar.email">
          
          </ion-input>
          <ion-icon color="primary" name="person-outline"></ion-icon>
        </ion-item>
  
        <ion-item>
          <ion-input
          type="password"

          placeholder="Contraseña" 

          class="input" 
          aria-readonly="true" 
          fill= "outline"
          [(ngModel)]="registrar.password">
          </ion-input>
          <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
          
        </ion-item>
      </ion-list>
      <ion-button fill="solid" shape="round" fill="none" (click)="registrarse()">Registrar</ion-button>
      <p>¿Ya tienes una cuenta?<a style="color: blueviolet;" [routerLink]="['/login']">Inicia sesión ahora</a></p>
    </ion-list>

    
    
    
    
    
  
  
  
</ion-content>
