<ion-content [fullscreen]="true">
  <div class="cont_img">
    <img class="img_profile"src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
  </div>

  

  <ion-list lines="none" class="ion-padding">
    
    <div class="centrar">
      <ion-label>Nombre</ion-label>
    </div>
    <div class="centrar" >
        <ion-label><ion-icon name="logo-pinterest"></ion-icon>Alias</ion-label>
    </div>
    <div class="centrar">
      <ion-label>3 Seguidores | Siguiendo 0</ion-label>
    </div>
    <div class="centrar">
      <ion-button  class="ion-text-wrap " style="max-width: 170px;" expand="full" fill="solid" shape="round" color="medium" >
        Editar Perfil
      </ion-button>
    </div>
    <div class="centrar">
      <ion-button  class="ion-text-wrap " expand="full" fill="solid" shape="round" color="medium" >
        Compartir Perfil
      </ion-button>
    </div>
    
    
  
  </ion-list>

  



</ion-content>
