ion-content{
    --background: #ffffff
    ; /* Cambia este valor por el color que desees */
    justify-content: center;
    align-items: center;
    --padding-top: 150px;
}


ion-item{
    --background: rgb(248, 192, 255);
    display: flex;
    --padding-start: 23px;
}


ion-list{
    --background: transparent
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

ion-button{
    height: 50px;
    --background: pink;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

ion-button{
    height: 50px;
    --background: pink;
    color: white;
    font-size: 16px;
    font-weight: bold;
}