<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      inicio
    </ion-tab-button>
    <ion-tab-button tab="exploracion">
      <ion-icon name="search"></ion-icon>
      exploracion
    </ion-tab-button>
    <ion-tab-button tab="carga">
      <ion-icon name="aperture"></ion-icon>
       
      
    </ion-tab-button>
    <ion-tab-button tab="armario">
      <ion-icon name="shirt"></ion-icon>
      armario
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
