<ion-header [translucent]="true">
  <ion-searchbar show-clear-button="always" [debounce]="500"  (ionInput)="handleInput($event)" placeholder="Buscar" ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let result of results.slice(0,3)">
      <ion-label>{{ result }}</ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EXPLORACION</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
