ion-content{
    --background: #ffffff; /* Cambia este valor por el color que desees */

}

.list{
  background-color: rgba(255, 255, 255, 0); // Fondo completamente transparente
  ion-item {
    --background: transparent; // Asegura que el fondo sea transparente en temas oscuros o claros
  }
}


ion-input.custom {
   --background: #FCFFD7;
   color: black;
   --highlight-color-valid: #e9e501da;
}

ion-button{
  height: 50px;
  --background: #A970FF;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.img_logo{
    margin: 0px;
    justify-content: center;
    height: 250px;
    width: 100%;
    border-radius: 100%;
    max-width: 100%;
}

h4{
  color: #81339D;

}
h5{
  color: #81339D;
  border-bottom: 2px solid #81339D;
}