<ion-content>

  
  
  <ion-list lines="none" class="list ion-padding">

    <ion-item class="ion-justify-content-center">
      <img class="img_logo" src="assets\img\Logo.jpeg" alt="">
    </ion-item>

    <ion-item class="ion-justify-content-left"><h4>Ingresa a tu cuenta</h4></ion-item>

    <ion-input 
       class="custom"
       type="text"
       label="Usuario" 
       label-placement="floating"
       fill="outline"
       placeholder="Ingrese su nombre de usuario" 
       [(ngModel)]="login.usuario"></ion-input>
       
    <ion-input class="custom ion-margin-top"
      type="password"
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su Contraseña"
      [(ngModel)]="login.password"></ion-input>

    <ion-item [routerLink]="['/restablecer']"><h4>¿Olvidaste la Contraseña?</h4>
    </ion-item>

    <ion-button class="ion-justify-content-center" (click)="ingresar()" expand="block" fill="solid" shape="round">
      INICIAR SESION
    </ion-button>
    
    <ion-item [routerLink]="['/registrar']"><h5>Registrarse</h5></ion-item>
  </ion-list>
    
  
  

</ion-content>