ion-content::part(background) {
  background: #f8a2ff;
}

ion-toolbar{
  --background:#f7b3fd;
}

ion-title{
  --color: #ffff;
}

ion-tabs{
  background: #ffff;

}
ion-tab-bar{
  background: #f8a2ff;
  --color: #f8a2ff;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}