

ion-content::part(background) {
  background: #fefefe;
}


ion-toolbar {
  --background: #F9FFB1;
  --min-height: 56px;
  --opacity: 1;
  --padding-bottom: 0px;
  --padding-end: 5px;
  --padding-start: 5px;
  --padding-top: 5px;
}

ion-col {
  height: 47px;
  width: 17px;
  display: flex;
  justify-content: center;
  color: #000000;
  align-items: center;
}

