
<ion-header [translucent]="true" style="background-color: #ffffff;">
  <ion-toolbar id="ion-toolbar" style="background-color: #f8a2ff;"> 
    <ion-title>
      Bienvenido {{ usuario }} 
    </ion-title>

  </ion-toolbar>
</ion-header>




  

    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-input type="text" placeholder="ingrese usuario" [(ngModel)]="nombre"></ion-input>
    <ion-input type="text" placeholder="ingrese contrasena" [(ngModel)]="contrasena"></ion-input>
    <ion-button shape="block" (click)="guardarBD()" >Guardar en BD</ion-button>
    <ion-button shape="block" (click)="eliminarUsuario()" >Eliminar usuario</ion-button>
    <ion-button shape="block" (click)="borrarBD()" >Borrar la BD</ion-button>
  </ion-card>

  
  

  <ion-toast isOpen="true" message="Bienvenido {{ usuario }}" [duration]="3000" icon="person-circle-outline"></ion-toast>
</ion-content>

