
<ion-header [translucent]="true" style="background-color: #ffffff;">
  <ion-toolbar id="ion-toolbar" style="background-color: #f8a2ff;"> <!-- *ngIf="apiData" -->
    
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>{{ temperature }}°C</ion-col>
          <ion-col><img src="https://openweathermap.org/img/wn/50n@2x.png" alt="Weather Icon"></ion-col>
          <ion-col>{{ weatherState }}</ion-col>
        </ion-row>
      </ion-grid>
    
    

  </ion-toolbar>
</ion-header>




  

<ion-content>

  <ion-card>
    <ion-input type="text" placeholder="ingrese usuario" [(ngModel)]="nombre"></ion-input>
    <ion-input type="text" placeholder="ingrese contrasena" [(ngModel)]="contrasena"></ion-input>
    <ion-button shape="block" (click)="guardarBD()" >Guardar en BD</ion-button>
    <ion-button shape="block" (click)="eliminarUsuario()" >Eliminar usuario</ion-button>
    <ion-button shape="block" (click)="borrarBD()" >Borrar la BD</ion-button>
  </ion-card>
  <ion-card>
    
      
   
  </ion-card>
  

  
  

  <ion-toast isOpen="true" message="Bienvenido {{ usuario }}" [duration]="3000" icon="person-circle-outline"></ion-toast>
</ion-content>

